header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 10rem;
  width: 100%;
  overflow: hidden;
	color:white;
	text-align: center;
	justify-content: center;
	align-items: center;
	display: flex;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px;
	/* Should be removed. Only for demonstration */
}

.vertCenter{
	margin: 0;
	position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

h2{
	text-align: center;
	padding-bottom: 20px;
	padding-top: 20px;
}

h4{
	text-align: center;
}

h5{
	position: relative;
	text-align: center;
	justify-content: center;
	align-items: center;
	transform: translateY(100%);
}

.contact{
	text-align: center;
	font-size: 30px;
}

.sketchfab-embed-wrapper{
	justify-content: center;
}

.paragraph{
	font-size: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.navbar-nav.navbar-center {
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
justify-content: center;
}


header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url('images/Justin.jpg') black no-repeat center center scroll;
  }
  header video {
    display: none;
  }
}

.grow{
	width: 70px;
	height: 65px;
	transition: .5s;
}

.grow:hover{
	width: 80px;
	height: 75px;
}

nav{
	position: relative;
	background: #235312;
	font-size: 0;
	box-shadow: 0 2px 6px 0 rgba(0,0,0,.1);
}

nav ul li a{
	font-size: 15px;
	text-transform: uppercase;
	color: white;
	text-decoration: none;
	line-height: 15px;
	position: relative;
	z-index: 1;
	text-align: center;
	padding-left: 15%;
	padding-right: 15%;
	justify-content: center;
}

nav .animation{
	position: absolute;
	height: 140%;
	/* height: 5px; */
	top: 0;
	/* bottom: 0; */
	z-index: 0;
	background: #508d4f ;
	border-radius: 8px;
	transition: all .5s ease 0s;
	transform: translateY(-10px);
}

.nav-size{
	width: 600px;
	position: relative;
}

.nav-link{
	align-content: center;
	justify-content: center;
	position: relative;
}

.nav-item{
	align-content: center;
	justify-content: center;
	position: relative;
	height: 50;
	width: auto;
}

li:nth-child(1){
	width: 100px;
}
nav .start-home,li:nth-child(1):hover~.animation{
	width: 100px;
	left: 0%;
}
li:nth-child(2){
	width: 110px;
}
nav .start-unity,li:nth-child(2):hover~.animation{
	width: 100px;
	left: 17%;
}
li:nth-child(3){
	width: 100px;
}
nav .start-3D,li:nth-child(3):hover~.animation{
	width: 100px;
	left: 35%;
}
li:nth-child(4){
	width: 160px;
}
nav .start-additonal,li:nth-child(4):hover~.animation{
	width: 120px;
	left: 55%;
}
li:nth-child(5){
	width: 120px;
}
nav .start-contact,li:nth-child(5):hover~.animation{
	width: 120px;
	left: 78%;
}

